@import "tailwindcss";

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Transitions globales (dark / light) */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Animation apparition */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}
