@import "tailwindcss";

/* Déclaration du dark mode pour Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Transition douce */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Animation apparition */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

:root {
  --bg-main: #faf7f2;
  --bg-card: #ffffff;
  --text-main: #1f2933;
  --text-muted: #6b7280;
  --accent: #7a1f2b;
}

.dark {
  --bg-main: #181414;
  --bg-card: #221c1c;
  --text-main: #f5f3ef;
  --text-muted: #b8b1a8;
  --accent: #c04a5a;
}
