@import "tailwindcss";

/* Déclaration du dark mode pour Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* Transition douce */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Animation apparition */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out both;
}

:root {
  --bg-main: #faf7f2;
  --bg-card: #ffffff;
  --text-main: #1f2933;
  --text-muted: #6b7280;
  --accent: #7a1f2b;
}

.dark {
  --bg-main: #181414;
  --bg-card: #221c1c;
  --text-main: #f5f3ef;
  --text-muted: #b8b1a8;
  --accent: #c04a5a;
}

/* Fix select / option en dark mode */
select {
  color-scheme: light dark;
}

.dark select {
  background-color: #1f2937; /* gray-800 */
  color: #f9fafb; /* gray-50 */
  border-color: #374151; /* gray-700 */
}

.dark option {
  background-color: #111827; /* gray-900 */
  color: #f9fafb;
}
